.hero{
    width: 100%;
    

    &--bg{
      background-color: #F4F6F5;
      padding: 2rem;
      border-radius: 5%;
    }


   &__container{
    // min-width: 30rem;
    // max-width: 30rem;
    // width: 80%;
    display: flex;
    justify-content: center;
    // margin: 0 auto;
   }

   &__leftSide{
    
    width: 50%; 
   
    h1{
        font-size: 6rem;
        color: var( --black);
        font-family: var(--poppins);
        font-weight: var(--poppins-black);
        line-height: 7rem;

        .span1{
            display: block;
            background-color: var(--white);
        }

        .span2{
            display: block;
            background-color: var(--primary-color);
            width: 60%;
        }
    }

    p{
        font-size: 2rem;
        line-height: 3rem;

    }

   }

   &__rightSide{
     height: 60vh;

     img{
        width: 100%;
        display: block;
     }
   }

   &__button{
    display: flex;
    gap: 2rem;
   }

   &__design{
    background-color: var(--primary-color);
    padding: 1rem;
    width: 7rem;
   }

   &__btn2{
    background-color: var(--black);
    color: var(--white);
   }



}